{% extends 'base.html.twig' %}

{% block title %}Edit Country{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-3">Edit Country</h1>

        {{ include('country/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-secondary mt-3" href="{{ path('app_country_index') }}">Back to List</a>
    </div>
{% endblock %}
